# Python virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]
.python-version
.mypy_cache/

# Pytest cache
.pytest_cache/

# ruff cache
.ruff_cache/

# Data and environment
data/
.env
file_registry.db
/node_modules
desktop/mini-mode/node_modules/

# macOS
.DS_Store

# VSCode
.vscode/

# GitHub
.github/

# Test outputs
output.txt
output2.txt

# DB
*.db
