# Python virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]
.python-version

# Pytest cache
.pytest_cache/

# ruff cache
.ruff_cache/

# Data and environment
data/
.env
/node_modules

# macOS
.DS_Store

# VSCode
.vscode/

# GitHub
.github/
ui/dist/

# Test outputs
output.txt
output2.txt

# DB
*.db
